*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.w-35{
  width: 35% !important;
}

/* Navbar */
.navbar-nav .nav-link.active{
  color: #ffc107 !important;
}
.navbar-nav .nav-link{
  color: grey !important;
}
@media (max-width: 426px) {
  .navbar-brand img {
    max-width: 220px; /* Adjust based on your preference */
  }
}

/* Home Hero */
.hero-main video{
  height: 82vh !important;
  object-fit: cover;
}
.hero-content h1{
  color: white;
  font-size: 6rem !important;
  font-family: fantasy;
}
.hero-content h1 span{
  font-size: 8rem !important;

}

/* Category */
.cat-content .cat-heading h2{
  font-weight: 800;
  font-size: 3rem;
  font-family: cursive;

}
.cat-content .cat-heading h2 span{
}
.cat-one{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.cat-one-content h5{
  font-family: cursive;
  font-weight: 500;
}